.section__title {
  @extend %section__title;
}
.clients {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  width: 170px;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: border 250ms $animation-timing-function,
    color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-text-color;
    color: $accent-text-color;
  }
}
.clients__logo {
  height: 60px;
  width: 106px;
  fill: currentColor;
}
