.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  @extend %contacts__link;
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
