.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  @extend %logo;
  margin-right: 93px;
}
.header__container {
  display: flex;
  align-items: center;
}
.logo--color-head {
  color: $titles-text-color;
}

/* site nav */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__list {
  display: flex;
}
.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  @extend %site-nav__link;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;

    height: 4px;
    width: 100%;

    background-color: $accent-text-color;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms $animation-timing-function;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}

.site-nav__link--current {
  color: $accent-text-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;

    height: 4px;
    width: 100%;

    transform: scaleX(1);
    background-color: $accent-text-color;
    border-radius: 2px;
  }
}
