.we-do {
  @extend %section;

  &__title {
    @extend %section__title;
  }
  &__list {
    display: flex;
  }
  &__item {
    width: calc((100%-60px) / 3);
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__descr-thumb {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(47, 48, 58, 0.8);
  }
  &__descr-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #ffffff;
  }
}
